{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "env": {
    "es6": true,
    "jest": true,
    "browser": true
  },
  "globals": {
    "process": true
  },
  "rules": {
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "no-console": "error",
    "no-debugger": "error",
    "no-multiple-empty-lines": "error",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "sibling", "internal", "unknown"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "assets/**",
            "group": "unknown",
            "position": "before"
          },
          {
            "pattern": "components/**",
            "group": "internal"
          },
          {
            "pattern": "containers/**",
            "group": "internal"
          },
          {
            "pattern": "contexts/**",
            "group": "internal"
          },
          {
            "pattern": "domain/**",
            "group": "internal"
          },
          {
            "pattern": "hooks/**",
            "group": "internal"
          },
          {
            "pattern": "routes/**",
            "group": "internal"
          },
          {
            "pattern": "themes/**",
            "group": "internal"
          },
          {
            "pattern": "utils/**",
            "group": "internal"
          },
          {
            "pattern": "configureAxios",
            "group": "internal"
          },
          {
            "pattern": "../**",
            "group": "internal"
          },
          {
            "pattern": "./**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2019
  }
}
