.nav-item-icon {
  padding-right: 15px;
}

.nav-menu li:hover {
  background-color: #bfbfbf;
}
.nav-menu li {
  background-color: #ffffff;
  color: #000;
}
.nav-menu li a {
  font-size: 1rem;
}
.nav-menu li a svg {
  width: 20px;
}
.nav-menu li a span {
  padding-left: 20px;
}

.nav-item a {
  text-align: left !important;
  color: #004683;
}

.nav-pills .nav-link.active {
  background-color: #004683;
  color: #fff;
  cursor: default;
}
.active:hover {
  background-color: #004683 !important;
}

.nav-pills .nav-link {
  border-radius: unset;
}
