.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 1px solid #000;
}
.header-left > img {
  width: 60px;
  height: 60px;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-left:hover {
  text-decoration: none;
}
.header-left .logo-txt {
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #004683;
}
.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  font-size: 14px;
}
.btn-cs {
  font-size: 14px;
  color: #ffff;
}
.fz {
  font-size: 14px;
}

.dropdown svg {
  margin-right: 5px;
}
